select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none!important;
    background-size: 25px;
    background-color: #222222;
    width: 35px;
    border: 1px solid rgb(30, 144, 255);
    border-radius: 10%;
    padding: 5px;
    color: #ffffff;
    font-size:16px;
    outline: none;
    cursor: pointer;
}

 select::-ms-expand {
      display: none;
}