.btn {
  outline: none;
  display: inline-block;
  margin-bottom: 20px;
  padding: 10px 30px;
  position: relative;
  border: 3px solid #222222;
  color: #222222;
  font-family: "Montserrat", sans-serif;
  transition: 0.4s;
  font-weight: 600;
  cursor: pointer;
  text-transform: uppercase;
  background-color: #ffffff;
}

button:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin: auto;
  border: 3px solid rgba(0, 0, 0, 0);
  transition: 0.3s;
}

button:hover:after {
  border-color: #222222;
  width: calc(100% - 10px);
  height: calc(100% + 15px);
}

.btn[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

.btn.invert {
  background-color: #222222;
  color: #ffffff;
}

.btn-back-in-catalog {
  color: #003b99;
  text-decoration: none;
  border: 2px solid #0566ff;
  text-align: center;
  padding: 20px 0;
}

.btn-back-in-catalog:hover {
  color: #ffffff;
  background-color: rgb(5, 102, 255, 0.3);
}

.align-center-btn {
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}
