/* @font-face{
    font-family: "Shadows Into Light", cursive;
    src: ("../../fonts/menu.ttf")
} */
.slider-class {
    display: flex;
}

.nav {
    grid-area: m;
    background-color: #222;
    display: flex;
    justify-content: flex-start;
}

.item { 
    cursor: pointer;
    height: fit-content;
    padding: 10px 20px;
    box-sizing: border-box;
    color: white;
    border: 1px solid transparent;
    white-space: nowrap;
}

.item:hover {
    border: 1px solid white;
    background: #222;
}

.item:hover .n2{
    display: block;
    z-index: 1;
}

.n2 {
    margin: 10px -21px;
    position: absolute;
    box-sizing: border-box;
    border: 1px solid white;
    cursor: pointer;
    display: none;
    width: 200px;
    background: #222;
}

.sub-item {
    padding: 10px 20px;
    white-space: pre-wrap;
}


