.btn-plus-minus-class {
    width: 30px;
    height: 30px;
    background: lightgray;
    border-radius: 50%;
    color: #222;
    font-weight: lighter;
    font-size: 26px;
    cursor: pointer;
    line-height: 28px;
    /* не выравнивается по центру ------------------------------ */
}