.card-item-class {
    margin: 5px 5px;
    width: 305px;
    height: 350px;
    background: white;
    position: relative;
    border-radius: 10px;
}

.card-item-class:hover {
    transform: scale(1.05);
}




