@font-face {
    font-family: "Hanging Letters";
    src: url("../../fonts/GrotoOtl.ttf");
  }

.logo-class {
    /* display: inline-block; */
    font-family: "Hanging Letters";
    padding: 35px 60px;
    background-color: #e3e8e6;
    color: #222;
    font-size: 45px;

}