@font-face {
    font-family: "Hanging Letters";
    src: url("../../fonts/GrotoOtl.ttf");
  }

.logo-class {
    /* display: inline-block; */
    font-family: "Hanging Letters";
    padding: 35px 10px;
    background-color: #222;
    color: white;
    font-size: 45px;
    cursor: default;
    text-decoration: none;
}