.tooltipWrapper {
  position: relative;
  display: inline-block;
}

.targetElement {
  cursor: pointer;
}

.tooltip {
  color: #ffffff;
  background-color: #222222;
  position: absolute;
  padding: 5px;
  border-radius: 20px;
  border: 1px solid #0566ff;
  overflow: hidden;
  font-size: 12px;
  box-sizing: border-box;
  box-shadow: 1px 1px 15px #0566ff;
  z-index: 9999;
}

.tooltip.top {
  bottom: 130%;
  transform: translateX(-50%);
  left: 50%;
}

.tooltip.bottom {
  top: 130%;
  transform: translateX(-50%);
  left: 50%;
}

.tooltip.right {
  left: 130%;
  transform: translateY(-50%);
  top: 50%;
}

.tooltip.left {
  right: 130%;
  transform: translateY(-50%);
  top: 50%;
}
